*{margin: 0; padding: 0; box-sizing: border-box;}


#calendar_wrap{width: 350px; height: 360px; background-color: black; margin: 0 auto;}
table{width: 350px; height: 240px; border-collapse: collapse;}
caption{color: orange; font-size: 20px; padding: 10px 0;}
tr, td, th{width: 50px; height: 40px; text-align: center; line-height: 40px; color: white; border: 1px solid #a9a9a9;}
td:hover{background-color: white; color: black; transition: 1s;}
table tr td:first-child, table tr th:first-child{color: red;}
.con{width: 120px; margin: 0 auto;}
a{text-decoration: none; color: white;}
a:hover{color: bisque;}